nav  {

width: 100%;
    display: inline-block;
   

}

.navbar-links {
    word-spacing: 10px;

    
    right: -50;
}




nav ul .navbar-links a .navbar-link  {
    width: 100%;
    position: relative;
    display: inline-block;
    font: uppercase;
}